In [1]:
import pandas as pd 
import numpy as np 

df=pd.read_csv("C:/Users/sanke/Downloads/insurance.csv")

In [2]:
df

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category
0,67,119.8,1.56,2.92000,False,Jaipur,retired,High
1,36,101.1,1.83,34.28000,False,Chennai,freelancer,Low
2,39,56.8,1.64,36.64000,False,Indore,freelancer,Low
3,22,109.4,1.55,3.34000,True,Mumbai,student,Medium
4,69,62.2,1.60,3.94000,True,Indore,retired,High
...,...,...,...,...,...,...,...,...
95,36,52.8,1.57,19.64000,False,Indore,business_owner,Low
96,26,113.8,1.54,34.01000,False,Delhi,private_job,Low
97,52,60.8,1.80,44.86000,False,Hyderabad,freelancer,Low
98,27,101.1,1.82,28.30000,False,Kolkata,business_owner,Low
99,40,70.0,1.59,28.16664,True,Bangalore,government_job,Low

# data cleaning

In [3]:
df.isnull().sum()

age                           0
weight                        0
height                        0
income_lpa                    0
smoker                        0
city                          0
occupation                    0
insurance_premium_category    0
dtype: int64

# feature engineering

In [4]:
#Bmi  weight /height **2

df["bmi"]=df["weight"]/(df["height"]**2)

In [5]:
df.describe()

              age      weight      height  income_lpa         bmi
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean    47.180000   83.894000    1.713200   18.400600   28.844391
std     16.649312   21.020278    0.110205   16.067465    7.887510
min     18.000000   51.100000    1.500000    0.530000   14.857209
25%     34.750000   63.650000    1.610000    2.897500   22.126606
50%     47.000000   82.300000    1.730000   14.122583   29.453205
75%     61.000000  101.300000    1.810000   30.162500   33.305141
max     75.000000  119.800000    1.900000   50.000000   49.227482

In [8]:
df["occupation"].unique()

array(['retired', 'freelancer', 'student', 'government_job',
       'business_owner', 'unemployed', 'private_job'], dtype=object)

In [6]:
def age_group(age):
    if age<23:
        return "young"
    elif age < 45:
        return "adult"
    elif age< 60:
        return "middle_a"
    return "senior"

In [7]:
df["age_group"]=df["age"].apply(age_group)

In [244]:
df

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category,bmi,age_group
0,67,119.8,1.56,2.92000,False,Jaipur,retired,High,49.227482,senior
1,36,101.1,1.83,34.28000,False,Chennai,freelancer,Low,30.189017,adult
2,39,56.8,1.64,36.64000,False,Indore,freelancer,Low,21.118382,adult
3,22,109.4,1.55,3.34000,True,Mumbai,student,Medium,45.535900,young
4,69,62.2,1.60,3.94000,True,Indore,retired,High,24.296875,senior
...,...,...,...,...,...,...,...,...,...,...
95,36,52.8,1.57,19.64000,False,Indore,business_owner,Low,21.420747,adult
96,26,113.8,1.54,34.01000,False,Delhi,private_job,Low,47.984483,adult
97,52,60.8,1.80,44.86000,False,Hyderabad,freelancer,Low,18.765432,middle_a
98,27,101.1,1.82,28.30000,False,Kolkata,business_owner,Low,30.521676,adult
99,40,70.0,1.59,28.16664,True,Bangalore,government_job,Low,27.688778,adult

In [245]:
def life_risks(row):
    if row["smoker"] and row["age"]>30:
        return "high"
    elif row["smoker"] or row["age"] >27:
        return "medium"
    return "low"

In [246]:
df["life_risk"]=df.apply(life_risks,axis=1)

In [247]:
df["city"].unique()

array(['Jaipur', 'Chennai', 'Indore', 'Mumbai', 'Kota', 'Hyderabad',
       'Delhi', 'Chandigarh', 'Pune', 'Kolkata', 'Lucknow', 'Gaya',
       'Jalandhar', 'Mysore', 'Bangalore'], dtype=object)

In [9]:
def city_tier(row):
    tier_11=["Delhi","Mumbai","Bangalore","Chennai","Hyderabad","Kolkata","Pune"]
    tier_22=["Chandigarh","Lucknow","Gaya","Mysore","Jalandhar","Kota","Indore","Jaipur"]
    if row in tier_11:
           return 1
    elif row in tier_22:
           return 2
    return 3

In [10]:
df["tier_city"]=df["city"].apply(city_tier)

In [11]:
df

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category,bmi,age_group,tier_city
0,67,119.8,1.56,2.92000,False,Jaipur,retired,High,49.227482,senior,2
1,36,101.1,1.83,34.28000,False,Chennai,freelancer,Low,30.189017,adult,1
2,39,56.8,1.64,36.64000,False,Indore,freelancer,Low,21.118382,adult,2
3,22,109.4,1.55,3.34000,True,Mumbai,student,Medium,45.535900,young,1
4,69,62.2,1.60,3.94000,True,Indore,retired,High,24.296875,senior,2
...,...,...,...,...,...,...,...,...,...,...,...
95,36,52.8,1.57,19.64000,False,Indore,business_owner,Low,21.420747,adult,2
96,26,113.8,1.54,34.01000,False,Delhi,private_job,Low,47.984483,adult,1
97,52,60.8,1.80,44.86000,False,Hyderabad,freelancer,Low,18.765432,middle_a,1
98,27,101.1,1.82,28.30000,False,Kolkata,business_owner,Low,30.521676,adult,1
99,40,70.0,1.59,28.16664,True,Bangalore,government_job,Low,27.688778,adult,1

In [27]:
df["insurance_premium_category"].value_counts()

insurance_premium_category
Low       34
High      33
Medium    33
Name: count, dtype: int64

In [12]:
df.drop(["age",	"weight",	"height","smoker","city"],axis=1,inplace=True)

In [13]:
df

,income_lpa,occupation,insurance_premium_category,bmi,age_group,tier_city
0,2.92000,retired,High,49.227482,senior,2
1,34.28000,freelancer,Low,30.189017,adult,1
2,36.64000,freelancer,Low,21.118382,adult,2
3,3.34000,student,Medium,45.535900,young,1
4,3.94000,retired,High,24.296875,senior,2
...,...,...,...,...,...,...
95,19.64000,business_owner,Low,21.420747,adult,2
96,34.01000,private_job,Low,47.984483,adult,1
97,44.86000,freelancer,Low,18.765432,middle_a,1
98,28.30000,business_owner,Low,30.521676,adult,1
99,28.16664,government_job,Low,27.688778,adult,1

In [14]:
x=df.drop(columns=["insurance_premium_category"],axis=1)

In [15]:
y=df["insurance_premium_category"]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   income_lpa                  100 non-null    float64
 1   occupation                  100 non-null    object
 2   insurance_premium_category  100 non-null    object
 3   bmi                         100 non-null    float64
 4   age_group                   100 non-null    object
 5   tier_city                   100 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 4.8+ KB

In [17]:
num_col=x.select_dtypes(include=['int64','float64']).columns
categorical_col=x.select_dtypes(include=["object"]).columns

In [18]:
num_col

Index(['income_lpa', 'bmi', 'tier_city'], dtype='object')

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline

preprocess=ColumnTransformer(
    transformers=[("cat",OneHotEncoder(),categorical_col),
               ("num","passthrough",num_col)])

In [20]:
from sklearn.ensemble import RandomForestClassifier
Pipline_=Pipeline(steps=[("preprosses",preprocess),
                         ("classified",RandomForestClassifier())])

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [22]:
Pipline_.fit(x_train,y_train)

Pipeline(steps=[('preprosses',
                 ColumnTransformer(transformers=[('cat', OneHotEncoder(),
                                                  Index(['occupation', 'age_group'], dtype='object')),
                                                 ('num', 'passthrough',
                                                  Index(['income_lpa', 'bmi', 'tier_city'], dtype='object'))])),
                ('classified', RandomForestClassifier())])

In [23]:
from sklearn.metrics import accuracy_score

pred=Pipline_.predict(x_test)

In [24]:
accuracy_score(y_test,pred)

0.6

In [25]:
import pickle

path="C:/Users/sanke/Downloads/model/model.pkl"

with open(path,'wb') as f:
    pickle.dump(Pipline_,f)